<!-- glossary.html -->
<!DOCTYPE html>
<html>

<head>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>Data Checklist</title>
    <!-- Assessment favicon -->
    <link rel="shortcut icon" href="docs/images/Shortcut Logo.png">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <style>
        .fixed1 {
            position: fixed;
            top: 15vh;
            width: 8.33%;
            max-height: 85vh;
            overflow-y: auto;
            background-color: white;
            z-index: 1;
        }

        .placeholder1 {
            width: 8.33%;
        }

        .fixed2 {
            position: fixed;
            top: 0;
            height: 15vh;
            width: 100%;
            background-color: white;
            z-index: 1;
        }

        .container-fluid {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        .placeholder2 {
            height: 15vh;
            width: 100%;
        }

        /*  .logo {
            width: 20vw;
            height: auto;
        }
            */

        #subtitle {
            display: flex;
            align-items: center;
            /* Vertically center align */
        }

        #logos img {
            width: 100%;
        }

        #subtitle img {
            width: 100%;
        }

        .card-header {
            padding: 0px;
        }

        .modal-header,
        .modal-footer {
            margin: 1px;
        }

        .modal-body {
            background-color: #FDFDFD;
            margin-left: 1px;
        }

        .custom-modal .modal-dialog {
            max-width: 60%;
            /* Change this to your preferred width */
        }

        .custom-modal .modal-header .close {
            margin-left: auto;
            /* This will push the close button to the right */
        }

        li::before {
            content: "";
            display: block;
            height: 15vh;
            margin: -15vh 0 0;
            visibility: hidden;
        }


        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
        }

        .colourb {
            background-image: linear-gradient(hsla(255, 100%, 100%, .2) 100%, transparent 100%)
        }

        .colourc {
            background-image: linear-gradient(hsla(255, 100%, 100%, .4) 100%, transparent 100%)
        }

        .colourd {
            background-image: linear-gradient(hsla(0, 0%, 100%, 0.6) 100%, transparent 100%)
        }

        .coloure {
            background-image: linear-gradient(hsla(0, 0%, 100%, 0.8) 100%, transparent 100%)
        }

        .colourf {
            background-image: linear-gradient(hsla(0, 0%, 0%, 0.1) 100%, transparent 100%)
        }

        .colourg {
            background-image: linear-gradient(hsla(0, 0%, 0%, 0.2) 100%, transparent 100%)
        }

        #intro-box,
        #comment-box {
            border-style: solid;
            border-color: #1e3a79;
            border-radius: 15px;
            padding-left: 15px;
            padding-bottom: 10px;
            background-color: #f5f5f5;
        }

        #comment-box li {
            padding-right: 18px;
        }

        .comment-textarea {
            width: 94%;
            margin-left: 35px;
        }

        #before-intro-box {
            content: "";
            display: block;
            height: 15vh;
            visibility: hidden;
        }

        #modal-title {
            text-align: left;
        }

        @media screen {
            .noPrint {
                display: block;
            }

            .noScreen {
                display: none;
            }
        }

        @media print {
            @page {
                size: auto;
            }

            .noPrint {
                display: none;

            }

            .noScreen {
                display: block;
            }

            .print-page-break {
                page-break-before: always;
                /* Ensure proper page breaks */
            }

            #checklist_start .collapse {
                display: block !important;
                height: auto !important;
            }
        }
    </style>
    <script>
        function write_to_modal(title, contents) {
            $("#modal-title").html(title);
            $("#modal-body").html(contents);
        }

        function show_modal(id_prefix) {
            var title = document.getElementById(id_prefix + "-title").textContent;
            var contents = document.getElementById(id_prefix + "-contents").innerHTML;
            write_to_modal(title, contents);
            $('#modal').modal('show');
        }
    </script>
</head>

<body>
    <script>
        var total_scorelst = new Array({{ categories | length}});

        function update_checklist(table) {
            const checklist = document.getElementById(table);
            let module_num = table.split('.')[0];
            const table_num = Number(module_num.match(/\d+/g));
            const essential_questions = checklist.querySelectorAll('input[type="radio"][class="1. essential"]');

            const question_set = new Set();
            let total_score = 0;

            essential_questions.forEach(radioButton => {

                // Check if the radio button is checked
                question_set.add(radioButton.name);

                if (radioButton.checked) {
                    // Add the value of the checked radio button to the total score
                    total_score += parseInt(radioButton.value);
                }
            });

            const score_id = document.getElementById("score_" + table);
            const max_score = question_set.size;

            const final_score = Math.round((total_score / max_score) * 100)
            score_id.innerHTML = "Your score is " + final_score + "% for the essential " + table + " questions"

            total_scorelst[table_num - 1] = final_score;
            update_final_score()
        }

        function update_final_score() {
            const average = array => array.reduce((a, b) => a + b) / array.length;
            var final_score = Math.round(average(total_scorelst));
            const final_score_id = document.getElementById("checklist-score");
            final_score_id.innerHTML = "Your overall score is " + final_score + "% across all module essential questions";
        }

        function check_zero_pt_answers() {
            const essential_questions = document.querySelectorAll('input[type="radio"][class="1. essential"]');
            var answer_lst = new Array({{ categories | length }}).fill("");
        essential_questions.forEach(radioButton => {
            const question_label = radioButton.closest("td").previousElementSibling.innerText.trim();
            // alert(question_label)
            const answer_type = radioButton.nextElementSibling.innerText.trim();
            //  alert(answer_type)
            if (radioButton.checked) {
                //  alert(radioButton.name)
                if (answer_type != "Yes" && answer_type != "Not Applicable") {
                    let q_num = radioButton.name.split('-')[0];
                    let module_num = Number(q_num.match(/\d+/g)) - 1;

                    answer_lst[module_num] += ("<li><b>" + question_label +
                        "</b> currently is answered as <b>" + answer_type + "</b></li>");

                }
            }
        });
        suggestions_string = "";
        module_names = {{ categories | tojson | safe }}
        for (let i = 0; i < {{ categories | length}}; i++) {
            if (answer_lst[i] != "") {
                suggestions_string += "<h5>" + module_names[i] + "</h5>";
                suggestions_string += "<ul>" + answer_lst[i] + "</ul>";
            }
        }
        var printed_content = document.getElementById('printed')

        printed_content.innerHTML += suggestions_string;
        }

        function print_page() {
            check_zero_pt_answers()
            // Hide the print button
            var printButton = document.getElementById("print-button");
            printButton.style.display = "none";
            window.print();
            // Show the print button again
            printButton.style.display = "block";

        }

    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-between">
                <br>
                <div class="row" style="margin-left: 5%; margin-right: 5%;">

                    <div class="col-3" id="logos"><img src="docs/images/fairaware.png">
                    </div>

                    <div class="col-9" id="subtitle">

                        <img src="docs/images/Title.png">
                    </div>
                </div>
                <br>
            </div>
        </div>
        <h2 style="color: red;"> UNDER DEVELOPMENT</h2>
        <div class="row">

            <div class="align-items-center justify-content-center" style="margin-left: 5%; margin-right: 5%;">

                <br>
                <div id="intro-box">
                    <br>
                    <p>
                        This tool responds to the <a
                            href="https://www.canada.ca/en/treasury-board-secretariat/corporate/reports/2023-2026-data-strategy.html"
                            target="_blank">GC Data Strategy for the Federal Public Service (2023-2026)</a> Mission 3.3
                        for responsible,
                        transparent and ethical data stewardship to maintain trust.

                        There are four companion tools that you may also find useful:

                    <ul>
                        <li><a href="https://fairerdata.github.io/FAIRER-Aware-SELF-Assessment/"
                                target="_blank">FAIRER-Aware-SELF-Assessment</a></li>
                        <li><a href="https://fairerdata.github.io/FAIRER-Aware-DATA-Assessment/"
                                target="_blank">FAIRER-Aware-DATA-Assessment</a></li>
                        <li><a href="https://fairerdata.github.io/FAIRER-Aware-REPRODUCIBILITY-Assessment/"
                                target="_blank">FAIRER-Aware Reproducibility Checklist</a></li>
                        <li><a href="https://fairerdata.github.io/FAIRER-Aware-AI-SAFETY-Assessment/" target="_blank">
                                FAIRER-Aware AI Safety Checklist
                            </a></li>
                        <li><a href="https://fairerdata.github.io/maDMP-Standard/" target="_blank">Metadata application
                                profile (MAP) for machine-actionable Data Management Plans (maDMP)</a></li>
                        <li><a href="https://fairerdata.github.io/IRiDiuM-Glossary/" target="_blank">
                                Interdisciplinary Research Data Management glossary (IRiDiuM)
                            </a></li>
                    </ul>
                    </p>
                </div>
                <br>
                <div class="col-md-12" id="intro-box">
                    <br>
                    <p>
                        The data checklists are not meant to be prescriptive, nor are they exhaustive. There is no
                        "one-size-fits-all" or
                        "off-the-shelf" solution. Organizations should adapt the questions to their particular
                        needs-modifying, removing, or
                        adding new ones where necessary-and, implementation should be incremental. This work should
                        complement, not compete with
                        machine-actionable Data Management Plans (<a href="https://fairerdata.github.io/maDMP-Standard/"
                            target="_blank">maDMP's</a>) or other open initiatives.
                    </p>

                    <p>
                        Data checklists are a useful data management tool for data providers and for data repositories,
                        as well as for data
                        stewards and managers who need to approve data without having been involved in their production.
                        The checklist is
                        discipline-agnostic, making it relevant to any scientific field. The use of data checklists will
                        help promote
                        consistency, awareness, understanding, and efficiency in data governance.
                    </p>

                    <p>
                        Implemented on the input side of a data repository data checklists are a critical component to
                        help ensure FAIRER
                        (Findable, Accessible, Interoperable, Reusable, Ethical, and Reproducible) data and to maintain
                        data quality,
                        consistency, and transparency.
                    </p>
                    <p>
                        Version 0.1.0 alpha (2024-08-05)
                    </p>
                    <p>
                        <a href="https://www.niso.org/press-releases/contributor-roles-taxonomy-credit-formalized-ansiniso-standard"
                            target="_blank">CRediT <i class="fa fa-external-link"></i></a>
                        <a href="" data-toggle="modal" onclick="show_modal('citation')"> Author statement <i
                                class="fa fa-long-arrow-left"></i></a>
                    </p>
                </div>
                <br>
                <h2>Guidance</h2>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="heading1" data-target="#collapse1" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1"
                                    aria-expanded="true" aria-controls="collapse1">
                                    Data Checklist Modules
                                </button>
                            </h5>
                        </div>

                        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container mt-0">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Module</th>
                                                <th>Sub-Module</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="4">1. Metadata</td>
                                                <td>a) Metadata management</td>
                                            </tr>
                                            <tr>
                                                <td>b) Provenance</td>
                                            </tr>
                                            <tr>
                                                <td>c) Multilingualism</td>
                                            </tr>
                                            <tr>
                                                <td>d) Accessibility</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="7">2. Data</td>
                                                <td>a) Raw data</td>
                                            </tr>
                                            <tr>
                                                <td>b) Data format/structure</td>
                                            </tr>
                                            <tr>
                                                <td>c) Data collection</td>
                                            </tr>
                                            <tr>
                                                <td>d) Data preparation</td>
                                            </tr>
                                            <tr>
                                                <td>e) Geospatial data</td>
                                            </tr>
                                            <tr>
                                                <td>f) Data management</td>
                                            </tr>
                                            <tr>
                                                <td>g) Data fitness for use</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">3. Source</td>
                                                <td>a) Data repository</td>
                                            </tr>
                                            <tr>
                                                <td>b) Website</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">4. Visualization</td>
                                                <td>a) Graphics</td>
                                            </tr>
                                            <tr>
                                                <td>b) Cartography</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="4">5. Software</td>
                                                <td>a) Computer code</td>
                                            </tr>
                                            <tr>
                                                <td>b) Project organization</td>
                                            </tr>
                                            <tr>
                                                <td>c) File organization</td>
                                            </tr>
                                            <tr>
                                                <td>d) Computer code changes</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">6. Reproducibility</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">7. Manuscripts</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">8. Standards</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">9. Confidentiality</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading2" data-target="#collapse2" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2"
                                    aria-expanded="false" aria-controls="collapse2">
                                    Multi-functional Data Checklists
                                </button>
                            </h5>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2">
                            <div class="card-body">
                                Data checklists can be a useful data management tool for data providers and data
                                repositories, as well as for data
                                stewards and managers who need to approve data without having been involved in their
                                production. The use of checklists
                                will help promote consistency, awareness, understanding, and efficiency in data
                                governance. Implemented on the input
                                side of a data repository, they are a critical component to help ensure FAIRER
                                (Findable, Accessible, Interoperable,
                                Reusable, Ethical, and Reproducible) data and to maintain data quality, consistency, and
                                transparency. This work should
                                be done to complement, not compete with machine-actionable Data Management Plans (<a
                                    href="https://fairerdata.github.io/maDMP-Standard/" target="_blank">maDMP's</a>), or
                                other open initiatives.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading3" data-target="#collapse3" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3"
                                    aria-expanded="false" aria-controls="collapse3">
                                    Multiple Uses For The Data Checklist
                                </button>
                            </h5>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3">
                            <div class="card-body">
                                <p>
                                    Well-designed checklists can serve multiple functions, for example:
                                </p>
                                <ol>
                                    <li>The data provider can use the checklists as a data auto-evaluation tool.</li>
                                    <li>The checklists can be used as a learning tool.</li>

                                    <li>Checklist results can be submitted to data stewards and/or management along with
                                        or in lieu of the actual data for the
                                        purpose of data approval.</li>

                                    <li>The institutional digital repository can use the checklists to identify datasets
                                        for acceptance into the repository, and
                                        to return to the provider for correction datasets that fail to meet all the
                                        criteria.</li>

                                    <li>Management can easily merge checklist results received from across the
                                        organization to get a snapshot of the overall
                                        state of data quality and data management.</li>

                                    <li>Management can quickly scan the results to identify areas that may require
                                        closer attention within a project, identify
                                        gaps and areas in general need of improvement across the organization, or
                                        identify special cases that legitimately
                                        depart from general guidelines.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading4" data-target="#collapse4" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                    Data Checklist Design
                                </button>
                            </h5>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4">
                            <div class="card-body">
                                <p>
                                    The data checklists were developed based on insights from the literature (see
                                    References) and lessons learned from
                                    downloading and using a wide range of research, monitoring, and crowd-sourced data.
                                </p>
                                <p>
                                    To keep implementation of the data checklist modules manageable, each module or
                                    submodule comprises no more than about
                                    10-20 questions each. The model checklists are not meant to be prescriptive, nor are
                                    they exhaustive. There is no
                                    "one-size-fits-all" or "off-the-shelf" solution. Organizations should adapt the
                                    modules and questions to their
                                    particular needs-modifying, removing, or adding new ones where necessary-and,
                                    implementation should be incremental.
                                </p>
                                <p>
                                    Questions are formulated such that the preferred answer is "yes". The items are a
                                    mix of general questions (e.g., Are
                                    the data FAIRER? Are the data accurate?) and detailed sentinel or
                                    canary-in-the-coal-mine questions (Are dates
                                    consistently formatted, e.g., YYYY-MM-DD?). When results are compiled across an
                                    organization this structure makes it
                                    easy to scan and zero in on areas that may require closer attention within a
                                    project, identify gaps and areas in general
                                    need of improvement, identify training needs, or identify special cases where a "no"
                                    response is in fact acceptable.
                                    Controlled responses are: "yes", "no", "I don't know", or "not applicable".
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading5" data-target="#collapse5" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5"
                                    aria-expanded="false" aria-controls="collapse5">
                                    Implementation Of The Data Checklist
                                </button>
                            </h5>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5">
                            <div class="card-body">
                                <p>
                                    If the checklists are to achieve their intended goal, how they are used is as
                                    important as their content. The aim is to
                                    improve the organization's data quality and enable Big Data. This should be done in
                                    a context of a process of
                                    modernization. It requires a phased in approach and a supportive environment,
                                    including training both at the working
                                    level and for managers. The checklists and the way they are used must have strong
                                    support at the highest level of upper
                                    management.
                                </p>

                                <p>
                                    An implementation plan should be developed to roll the checklists out in a manner
                                    that will ensure effective uptake. The
                                    model checklists, offered as a starting point, may not all apply in all situations.
                                    They should be pilot tested within
                                    the organization prior to implementation, and implementation should be iterative.
                                </p>

                                <p>
                                    Iterative implementation of the checklists. Create a working group to adapt the
                                    checklists to the needs and realities of
                                    the organization. Each item should be assigned a level of priority, with
                                    approximately one third of the items tagged as
                                    either essential, valuable, or desirable for the first round of implementation.
                                </p>
                                <p>
                                    Pilot test the checklist module and sub-module subject headings and adjust as
                                    necessary.
                                </p>
                                <p>
                                    Pilot test the module and sub-module checklist questions and adjust as necessary.
                                </p>
                                <p>
                                    Round 1 should be implemented uniformly across the organization in conjunction with
                                    a data inventory in order to give
                                    management a good sense of the overall state of the data. This should provide the
                                    organization with a good understanding
                                    of the state of the data in the organization as a whole and in each work unit. This
                                    exercise will yield valuable
                                    information for long term planning and for identification of where priorities need
                                    to be placed in the short term.
                                </p>
                                <p>
                                    In Round 2, the levels of importance should be adjusted to establish "Round 2"
                                    goals. Round 2 goals could target low
                                    hanging fruit and what can be done in the short term without increasing resources,
                                    as well as a few of the most pressing
                                    needs to maximize short term impact and valuable outcomes. Since data management and
                                    data quality vary across the
                                    organization, Round 2 checklists should be adapted to the needs and realities of
                                    each work unit.
                                </p>
                                <p>
                                    Round 3 and successive iterations in each work unit should modify the importance
                                    levels of the various items, adding
                                    items as necessary, until the final round of implementation when all items would
                                    achieve the level of importance,
                                    "essential," and all data will be compliant. At this point, the checklists will have
                                    evolved from "It's good enough" to
                                    "Best practices," and will have achieved uniformity across the organization.
                                    Thereafter, checklist modules should be
                                    revised on a regular basis to keep them relevant to evolving realities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading6" data-target="#collapse6" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6"
                                    aria-expanded="false" aria-controls="collapse6">
                                    Next Steps
                                </button>
                            </h5>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6">
                            <div class="card-body">
                                Although each organization should develop its own path, these paths will have a number
                                of similarities: effecting
                                culture change, treating even small data as an organizational and inter-organizational
                                asset, and adopting common
                                standards so that data are useable beyond their original purpose by unimagined systems.
                                This will require commitment
                                both on the part of the individual data creator and on the part of the organization.
                                Work will need to be done to
                                automate (or semi-automate) the data checklists in order to reduce the amount of manual
                                labor needed to implement them.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading7" data-target="#collapse7" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7"
                                    aria-expanded="false" aria-controls="collapse7">
                                    References
                                </button>
                            </h5>
                        </div>
                        <div id="collapse7" class="collapse" aria-labelledby="heading7">
                            <div class="card-body">
                                <p>
                                    Austin, C. C. (2018). A path to Big Data readiness. 4844-4853.
                                    https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8622229 [Accessed
                                    2024-08-04]
                                </p>
                                <p>
                                    Broman, K., & Woo, K. (n.d.). Data Organization in Spreadsheets: The American
                                    Statistician: Vol 72, No 1. The American
                                    Statistician, Special Issue on Data Science, 72(1), 2-10. Retrieved November 3,
                                    2018, from
                                    https://www.tandfonline.com/doi/full/10.1080/00031305.2017.1375989 [Accessed
                                    2024-08-04]
                                </p>
                                <p>
                                    Core Trust Seal. (n.d.). Core trustworthy data repositories requirements.
                                    https://www.coretrustseal.org/ [Accessed
                                    2024-08-04]
                                </p>
                                <p>
                                    Google. (n.d.). Google data search—Guidelines for developers. Google Developers.
                                    Retrieved November 3, 2018, from
                                    https://developers.google.com/search/docs/data-types/dataset [Accessed 2024-08-04]
                                </p>
                                <p>
                                    Government of Canada (2017). Data quality toolkit. Statistics Canada.
                                    https://www.statcan.gc.ca/eng/data-quality-toolkit
                                    [Accessed 2024-08-04]
                                </p>
                                <p>
                                    ISO. (n.d.). Geographic information—Metadata—Part 1: Fundamentals
                                    (19115-1:2014/Amd.1:2018). International Standards
                                    Organization. Retrieved November 3, 2018, from
                                    https://www.iso.org/obp/ui/fr/#iso:std:73118 [Accessed 2024-08-04]
                                </p>
                                <p>
                                    Kitzes, J (2016). Reproducible workflows.
                                    http://datasci.kitzes.com/lessons/python/reproducible_workflow.html [Accessed
                                    2024-08-04]
                                </p>
                                <p>
                                    Reinsch, R., Austin, C., & Chang (Ed), W. L. (2019). NIST Big Data Interoperability
                                    Framework, Volume 9: Adoption and
                                    modernization (NIST SP 1500-10 VERSION 3, FINAL). National Institute of Standards
                                    and Technology.
                                    https://bigdatawg.nist.gov/_uploadfiles/NIST.SP.1500-10.pdf [Accessed 2024-08-04]
                                </p>
                                <p>
                                    Wickham, H. (2014). Tidy data. Journal of Statistical Software, 59(40), 1–43.
                                    https://doi.org/10.18637/jss.v059.i10
                                    [Accessed 2024-08-04]
                                </p>
                                <p>
                                    Wilson, G., Bryan, J., Cranston, K., Kitzes, J., Nederbragt, L., & Teal, T. K.
                                    (2017). Good enough practices in
                                    scientific computing. PLOS Computational Biology, 13(6), e1005510.
                                    https://doi.org/10.1371/journal.pcbi.1005510
                                    [Accessed 2024-08-04]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <h2>Description of column headers</h2>
                <div id="accordion2">
                    <div class="card">
                        <div class="card-header" id="headingd1" data-target="#collapsed1" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapsed1"
                                    aria-expanded="true" aria-controls="collapsed1">
                                    Category
                                </button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapsed1">
                            <div class="card card-body">
                                The “Category” column contains the names of the 23 modules or sub-modules, which
                                correspond to those listed in Table 14.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingd2" data-target="#collapsed2" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapsed2"
                                    aria-expanded="true" aria-controls="collapsed2">
                                    Current Priority
                                </button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapsed2">
                            <div class="card card-body">
                                Entries in the “Current Priority” column are based on organizational maturity, “It's
                                good
                                enough for now.”
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingd3" data-target="#collapsed3" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapsed3"
                                    aria-expanded="true" aria-controls="collapsed3">
                                    Data Checklist Questions
                                </button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapsed3">
                            <div class="card card-body">
                                The “Data Checklist Questions” are potential general and sentinel questions within each
                                category. Questions are
                                formulated such that the preferred answer is “yes.”
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingd4" data-target="#collapsed4" data-toggle="collapse">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapsed4"
                                    aria-expanded="true" aria-controls="collapsed4">
                                    Answers
                                </button>
                            </h5>
                        </div>
                        <div class="collapse" id="collapsed4">
                            <div class="card card-body">
                                The “Answers” column provides a space for answers to the data checklist questions.
                                Allowed
                                answers are: “yes”; “no”; “I
                                don't know”; or “not applicable” (with “yes” being the preferred answer).
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div id="checklist_start">
                    <h2>Checklist - Click below modules to answer questions</h2>
                    {% for category in range(separated_lst | length) %}
                    <button class="btn btn-block text-left"
                        style="border-color: {{colour_lst[category]}}; background-color: {{colour_lst[category]}};  background-image:linear-gradient(hsla(0, 0%, 100%, 0.6) 100%,transparent 100%);"
                        type="button" data-toggle="collapse" data-target="#collapset{{category}}" aria-expanded="false"
                        aria-controls="collapset{{category}}">
                        <b>{{categories[category].upper()}}</b>
                    </button>

                    <div class="collapse" id="collapset{{category}}">
                        <div class="card card-body">
                            <table id="{{categories[category]}}" class="table">
                                <thead>
                                    <tr>
                                        <th style="width:7%;" class="text-center">{{appendix_headers["Data Checklist
                                            Questions"]}}
                                        </th>
                                        <th style="width:5%;" class="text-center">{{appendix_headers["Unnamed: 1"]}}
                                        </th>
                                        <th style="width:10%;" class="text-center">{{appendix_headers["Unnamed: 2"]}}
                                        </th>
                                        <th style="width:39%;" class="text-center">{{appendix_headers["Unnamed: 3"]}}
                                        </th>
                                        <th style="width:39%;" class="text-center">{{appendix_headers["Unnamed: 4"]}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in separated_lst[category] %}
                                    <tr>
                                        <td class="text-center">{{entry["Data Checklist Questions"]}}</td>
                                        <td class="text-center colour{{entry['Data Checklist Questions'][:1]}} colour{{entry['Data Checklist Questions'][1:2]}}"
                                            style="background-color: {{colour_lst[category]}};">
                                            {{entry["Unnamed: 1"]}}
                                        </td>
                                        <td class="text-center">{{entry["Unnamed: 2"]}}</td>
                                        <td class="text-start">{{entry["Unnamed: 3"]}}</td>
                                        <td class="text-center">
                                            <input class="{{entry['Unnamed: 2']}}" type="radio"
                                                id="q{{entry['Data Checklist Questions']}}a"
                                                name="q{{entry['Data Checklist Questions']}}" value="1"
                                                onclick="update_checklist('{{categories[category]}}')">
                                            <label for="q{{entry['Data Checklist Questions']}}a">Yes</label>
                                            &nbsp;&nbsp;

                                            <input type="radio" class="{{entry['Unnamed: 2']}}"
                                                id="q{{entry['Data Checklist Questions']}}b"
                                                name="q{{entry['Data Checklist Questions']}}" value="0"
                                                onclick="update_checklist('{{categories[category]}}')">
                                            <label for="q{{entry['Data Checklist Questions']}}b">No</label> &nbsp;&nbsp;

                                            <input type="radio" class="{{entry['Unnamed: 2']}}"
                                                id="q{{entry['Data Checklist Questions']}}c"
                                                name="q{{entry['Data Checklist Questions']}}" value="0"
                                                onclick="update_checklist('{{categories[category]}}')">
                                            <label for="q{{entry['Data Checklist Questions']}}c">Don't Know</label>
                                            &nbsp;&nbsp;

                                            <input type="radio" class="{{entry['Unnamed: 2']}}"
                                                id="q{{entry['Data Checklist Questions']}}d"
                                                name="q{{entry['Data Checklist Questions']}}" value="1"
                                                onclick="update_checklist('{{categories[category]}}')">
                                            <label for="q{{entry['Data Checklist Questions']}}d">Not Applicable</label>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div id="score_{{categories[category]}}"> Your score is 0% for the essential
                                {{categories[category]}} questions</div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagebreak"></div>
                <br>
                <a href="https://github.com/FAIRERdata/FAIRER-Aware-Data-Checklist/blob/main/data/blank_data_checklist.xlsx" download="blank_data_checklist.xlsx" target="_blank">
                <button id="printButton" class="btn btn-outline-primary" style="font-size:0.7rem">Download Link to Blank Checklist Excel File on Github</button>
                </a>
                <br>
                <button class="btn btn mx-auto d-block" type="button" data-toggle="collapse"
                    data-target="#collapse_result" aria-expanded="false" aria-controls="collapse_result"
                    style="border-color:#1e3a79; border-width: 2px;border-radius: 15px;" onclick="update_final_score()">
                    <h3 style="margin:0;">Click for Results</h3>
                </button>
                <div class="collapse" id="collapse_result">
                    <div class="card card-body">
                        <div id="comment-box" class="col-md-12">
                            <h3>Your Notes <i class="far fa-hand-point-left" aria-hidden="true"></i></h3>
                            <div class="row">
                                <div id="comment-prompt">
                                    <ul>
                                        <li>Add any notes you may have here.
                                            These notes will be included when you print and save your results to
                                            your local computer. No information will be saved to our server.
                                            Feel free to capture any thoughts or insights that you'd like to
                                            remember or revisit later.
                                        </li>
                                    </ul>
                                </div>
                                <textarea class="comment-textarea" id="nq1" rows="4"></textarea>
                            </div>
                        </div>

                        <script>
                            // Function to adjust the height of the textarea based on content
                            function adjustTextareaHeight(textarea) {
                                textarea.style.height = 'auto'; // Reset the height to auto
                                textarea.style.height = textarea.scrollHeight + 'px'; // Set the height to the scroll height
                            }

                            // Get the textarea element
                            var textarea = document.getElementById('nq1');


                            // Attach input event listener to adjust height dynamically
                            textarea.addEventListener('input', function () {
                                adjustTextareaHeight(this);
                            });
                        </script>
                        <br>
                        <center>
                            <h3 id="checklist-score">Your overall score is 0% across all module essential questions</h3>
                        </center>
                        <br>

                        <div class="button-container">
                            <button id="print-button"
                                title="Your results will show up in a pop-up window and you will be able to print them."
                                onclick="print_page()">
                                <i class="fa fa-print"></i> Print Results
                            </button> 
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12" align="center">
                        <img id="bottom-logo" src="docs/images/FAIRER logo.png" align="center"
                            style="width:40%" /><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="citation" style="display:none;">
        <div id="citation-title">Author Statement</div>
        <div id="citation-contents">
            <p style="margin-left: 25px;">
                <a href="https://orcid.org/0009-0001-8417-0837">Emily Chu <img alt="ORCID logo"
                        src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16"
                        height="16" /></a> (Data curation, Software, Visualization); and,<br>
                <a href="https://orcid.org/0000-0001-9138-5986">Claire C. Austin <img alt="ORCID logo"
                        src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16"
                        height="16" /></a> (Conceptualization, Supervision, Visualization, Writing).<br>
            </p>

            <p style="margin-left: 25px;">All authors reviewed, discussed, and agreed to all aspects of the final work.
            </p>

            <p style="margin-left: 25px;">
                DISCLAIMER: All views and opinions expressed are those of the co-authors, and do not necessarily reflect the
                official policy or
                position of their respective employers, or of any government, agency or organization.
            </p>
            <p style="margin-left: 25px;">
                SOURCE (built upon): <br>
                NIST (2019). Big data interoperability framework, version 3 (Final), Volume 9. National Institute of
                Science and
                Technology, USA. https://www.nist.gov/itl/big-data-nist/big-data-nist-documents/nbdif-version-30-final
            </p>
            <p>
                Cite as: Chu E, and Austin CC (2024). FAIRER-Aware Data Checklist tool.
                https://fairerdata.github.io/FAIRER-Aware-Data-Checklist/
            </p>
        </div>
    </div>

    <div id="printed" class="noScreen">
        <h3>Improvement Suggestions</h3>
    </div>
    <div id="modal" class="modal fade custom-modal" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>